
h4 {
font-family:"Verdana, Geneva, sans-serif"
}

.photobox {
    width: 700px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.image {
width: 600px;
height: 600px;
}

#title {
text-align: center ;
}

#Title {
text-align: center ;
}


body {
    background-image: url('wood2.jpeg');
    -webkit-background-size: cover;	
    -moz-background-size: cover;
    -o-background-size: cover;	
    background-size: cover;
} 
