
h4 {
font-family:"Verdana, Geneva, sans-serif"
}

.photobox {
    width: 700px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.image {
width: 500px;
height: 500px;
}

#title {
text-align: center ;
}

#Title {
text-align: center ;
}

